#nav-row .col {
    padding: 0;
}

#main-container {
    background: #ecffff;
}

#right-column {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f2f2d9;
}

.filter .col-auto {
    margin: 2px;
    padding: 5px;
}

.start-time {
    margin: 2px;
    padding: 5px;
    background: #dcf2da;
}

.step {
    margin: 2px;
    padding: 5px;
    background: #f2f2d9;
}

.process {
    margin: 2px;
    padding: 5px;
    background: #05fffd;
}

.role {
    margin: 2px;
    padding: 5px;
}

.add-role .col {
    padding-top: 15px;
}

.add-step .col {
    padding-top: 15px;
}

.btn-owner {
    padding-top: 0;
    padding-bottom: 0;
    font-size: small;
    margin-top: 1px;
}
